.hero{
    background-color:  rgb(15,16,63);
        position: relative;
    /* min-height: 100vh; */
    height: 100vh;
    overflow: hidden;
   
   
}
.heroside{
    width:36%;
    
}
/* .imagepos{
    
      position: relative;
      height: 700px;    
    /* background-color:rgb(15,16,63); ;  */
    /* width:100%;
}  */


.herotopimg{
   position: absolute;
    top: -34px;
    left: -24px;
    z-index: 1;
}
.herodown {
       position: absolute;
    bottom: -177px;
    right: -75px;
    width: 70%;
}
.herohead{
    color:white;
    text-align: center;
}
.heroallcontentpos{
        position: absolute;
    top: 230px;
    left: 238px;
}

.herocontent{
   
   
}
.herohead{
        color: white;
    
    font-size: 32px;
    font-weight: bold;
    width: 41%;
    text-align: left;
}
.round-button {

      padding: 7px 41px;
 
  font-size: 12px;
  
  border-radius: 50px;
  border: none;
 
  background-color:rgb(87,92,121);
  color: white;
/* margin: 22px; */
  
  transition: all 0.3s ease;

}

.round-button:hover {
  background-color: white;
  color:#000;
}
.linearcolor{
   
     background: linear-gradient(to right, #C961DE, #2954A3);
}
.herobuttons{
    display: flex;
    gap: 12px;
   
        margin: 18px 52px;
    align-items: center;
}
.headerstrip{
background: rgb(167, 164, 184);
box-shadow: 0px 39.8736px 39.8736px rgba(69, 42, 124, 0.15);
backdrop-filter: blur(10px);
     border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    width: 4%;
       margin-top: 73px;
    position:fixed;
    z-index: 5;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap:56px;
    padding: 24px;
    align-items: center;
}
.herodown{
    /* position: absolute;
    right: -1654px;
    /* bottom: 12px; */
    /* top: 68px;  */
}
.sidebar li a{
    text-decoration: none;
    color: #0F103F;
     transition: color 0.3s, transform 0.3s;
}

.sidebar li a:hover {
  color: #cfc6c6; 
  transform: scale(1.2); 
}
