.recent{
   background-color:  rgb(15,16,63);
   background-image: url('../Styles/Assests/image.png');
   background-size: cover;
  
     height:143vh; 

}

.recenthead{
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 44px;

}
/* .swiper-slide
 { overflow: visible; } */


.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
   height: 54vh;  
  background: rgb(112,113,143);
  border-radius: 32px;
      /* width: 98%; */
}
/* .blurback{
    background: rgba(181, 249, 253, 0.42);
backdrop-filter: blur(2px);
} */
/* default state */
/* .blurback {
  transition: all 0.5s ease;
  padding: 10px;
  backdrop-filter: blur(2px);
  transform: scale(1);
  opacity: 0.8;
    z-index: 9;
  position: relative;
  border-radius: 32px;
} */

/* previous and next slides */
/* .swiper-slide-prev .blurback
.swiper-slide-next  {
  backdrop-filter: blur(6px);
  transform: scale(1.02);
  opacity: 0.9;
   z-index: 2;
}
.swiper-slide-next  .blurback{
   backdrop-filter: blur(6px);
  transform: scale(1.02);
  opacity: 0.9;
   z-index: 2;

} */



/* .swiper-slide-active .blurback {
  backdrop-filter: blur(10px);
  transform: scale(1.15); 
  opacity: 1;
  transition: transform 0.5s ease, backdrop-filter 0.5s ease, opacity 0.5s ease;
   z-index: 3
} */




/* new */







/* bbbb */

.glass-card {
  /* background: rgba(255, 255, 255, 0.1);
  border-radius: 20px; */
  /* padding: 10px; */
  /* backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18); */
 
}

/* .slide-image { */
  /* width: 200px;  */
  /* border-radius: 15px; */
  /* margin-bottom: 15px; */
  /* box-shadow: 0 4px 16px rgba(0,0,0,0.2); */
/* } */


.designs-label {
  position: absolute; 
  bottom: 0; 
  left: 0;
  /* transform: translateX(-50%); */
  width:313px;
  height:47px;
      border-top-left-radius: 10px;
    border-bottom-left-radius: 39px;
      border-top-right-radius: 10px;
    border-bottom-right-radius: 39px;

  padding: 12px 27px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.3);
  
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); */
  border: 1px solid rgba(255, 255, 255, 0.18);
  
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  
}
.recentposswiper{
 margin-top: 120px;
}

/* activeslidemaking */




 .blurback {
      background: rgba(181, 249, 253, 0.42);
backdrop-filter: blur(2px);
 
 padding: 15px;
 /* width:98%; */


  transition: backdrop-filter 0.5s ease;
}





